@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
	--color-green: #50FA7B;
}

* {
	margin: 0;
	padding: 0;
	border: 0;

}

body {
	background: #282a36;
	color: #EEE;
	font-family: 'Roboto', sans-serif;
}

header {
	padding: 32px;
	border-bottom: 1px solid #333;
	background: rgba(0, 0, 0, 0.1);
}

.links {
	text-align: center;
}

.links a {
	color: #EEE;
	font-size: 18px;
	line-height: 28px;
	margin: 0 16px;
	text-decoration: none;
}

.links a:hover {
	color: var(--color-green);
	transition: color 200ms;
}

#wrapper {
	text-align: center;
	padding: 32px;
}

#wrapper img {
	border-radius: 50% 5% 50% 50%;
	border: 5px solid var(--color-green);
	margin-bottom: 32px;
	height: 100;
}

#wrapper h1 {
	font-size: 42px;
	line-height: 52px;
	font-weight: bold;
	margin-bottom: 0%;
}

#wrapper h2 {
	font-size: 32px;
	line-height: 42px;
	font-weight: normal;
	padding: 0%;
	margin: 0;
}

#wrapper h3 {
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	margin-top: 0;
}

#wrapper p {
	font-size: 14px;
	margin: 0;
}

#wrapper p a {
	color: var(--color-green);
	text-decoration: none;
}

#wrapper p a:hover {
	filter: brightness(80%);
	transition: filter 200ms;
}

#links-footer a {
	border-bottom: 2px solid var(--color-green);
}