<!DOCTYPE>
<html>

  <head>

    <link rel="stylesheet" href="/global.css">

    {% block videos_css %}
      <title>Particular Classes</title>
    {% endblock %}

  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Teachers</a>
        <a href="/students">Students</a>
      </div>
    </header>

    {% block content %}{% endblock %}

  </body>

</html>