{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/8353395/500x500) no-repeat "></section>
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Instrutor</div>
        <div>Guilherme Saraiva</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>28 anos</div>
      </div>

      <div class="item">
        <div>Gênero</div>
        <div>Masculino</div>
      </div>

      <div class="item">
        <div>Acompanhamentos</div>
        <div>
          <span>Musculação</span>
          <span>Crossfit</span></div>
      </div>

      <div class="item">
        <div>Desde de</div>
        <div>12/01/2020</div>
      </div>

    </section>
  </div>
{% endblock %}