{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <div class="header">
      <a class="newButton" href="/students/create">Novo Aluno</a>
      <form action="/students" method="GET">
        <input value ="{{ filter }}" name="filter" type="text" placeholder="Nome ou ano (ex.: 1 => 1º ano)...">
        <button type="submit">Filtrar</button>
      </form>
    </div>
    <table id="student">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano escolar</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
      {% for student in students %}
        <tr>
          <td>
            <span class="avatar" style="background-image: url({{ student.avatar_url }})"></span>
          {{  student.name  }}</td>
          <td >
            <div class="school_year">{{ student.school_year }}</div>
          </td>
          <td>{{ student.email }}</td>
          <td>
            <a href="/students/{{ student.id }}">Visualizar</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}