@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../color.css";

.modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
}

.modal-overlay .modal {
	max-width: 600px;
	min-height: 380px;
	min-width: 300px;
	width: 50%;
	height: 45%;
	background: white;
	border-radius: 16px;
	text-align: center;
	position: relative;
}

.modal .modal-close {
	position: absolute;
	left: 572px;
	top: 5px;
	cursor: pointer;
}

.modal-content img {
	position: relative;
	max-width: 90%;
	margin: 30px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.modal-content p.modal-title {
	font-size: 24px;
	line-height: 28px;
	margin: 5px;
}

.modal-content p.modal-author {
	font-size: 18px;
	line-height: 21px;
	color: var(--color-letter-subinfo);
}

/*WHEN MODAL ACTIVE*/
.modal-overlay.active {
	visibility: visible;
	opacity: 1;
}