@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
	--color-rocket: #715c91;
	--color-letter-normal: #777;
	--color-letter-dark: #555;
}

* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	background-color: var(--color-rocket);
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: white;
	width: 100%;
	padding: 26px;
	text-align: center;
	box-sizing: border-box;
}

.links {
	font-size: 22px;
	line-height: 32px;
}

header .links a {
	text-decoration: none;
	color: var(--color-letter-normal);
	position: relative;
}

header .links a+a {
	margin-left: 32px;
}

header .links a.active {
	font-weight: bold;
	color: var(--color-rocket);
}

header .links a:hover {
	color: var(--color-rocket);
}

.links a::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: var(--color-rocket);
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -1px;
	transition: width;
}

.links a:hover::after {
	width: 100%;
	transition: width 200ms cubic-bezier(1, 0.25, 0.60, 0.85);
}

/* CARD */
.card {
	background-color: white;
	min-height: 500px;
	width: 500px;
	overflow: hidden;
	margin: 40px auto;
	font-size: 20px;
	color: #111;
	display: grid;
	grid-template-rows: 40% 60%;

	box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);

	animation: appear 300ms ease-in-out;
}

.details {
	margin: 32px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.avatar {
	min-height: 350px;
}

.details .item {
	padding: 8px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	display: block;
}

.details h3 {
	font-size: 20px;
}

.details .item:last-of-type {
	border:none;
}

.details .item p:nth-child(1),
.details h3  {
	color: var(--color-letter-normal);
}

.details .item p:nth-child(2){
	font-size: 24px;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
}