{% extends "layout.njk" %}

{% block top %}
  <title>Sobre - LAUNCHBASE: Desafio 2.1</title>
  <link rel="stylesheet" href="/about.css">
{% endblock %}

{% block content %}
  <div class="up-header">
    <img src="{{ about.rocket_img_url }}" alt="Imagem de {{ about.name }}" class="logo">

    <div class="header-text">
      <h1>{{ about.name }}</h1>
      <p class="info">{{ about.info }}</p>

      <ul class="techs">
        {% for tech in about.techs %}
          <li>{{ tech.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}