{% extends "layout.njk" %}

{% block content %}
  <div class="card error-card">
    <div class="error-content">
      <h1>A página não pode ser exibida no momento</h1>
      <p>Por favor, confira o URL ou tente novamente mais tarde!</p>
      <img src="/assets/err.png" alt="err image">
    </div>
  </div>
{% endblock %}