{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <div class="header">
      <a class="newButton" href="/members/create">Novo Instrutor</a>
      <form action="/members" class="filter" method="GET">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Nome...">
        <button type="submit">Filtrar</button>
      </form>
    </div>
    <table width="100%" id="member">
      <thead>
        <tr>
          <th>Membro</th>
          <th>E-mail</th>
          <th>Altura</th>
          <th>Peso</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            <td>
            <span style="background-image: url({{ member.avatar_url }})"></span>
            {{ member.name }}
            </td>
            <td>{{ member.email }}</td>
            <td>{{ member.height }}cm</td>
            <td>{{ member.weight }}kg</td>
            <td>
              <a href="members/{{ member.id }}">Visualizar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <div class="pagination"
      data-total={{pages.total}}
      data-page={{pages.page}}
      data-filter={{filter}}>
    </div>
  </div>

  <script src="/scripts/paginate.js"></script>
{% endblock %}