{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/800x800) no-repeat"></section>

    <section class="details">
      <h3>Teacher</h3>

      <div class="item">
        <div>Nome</div>
        <div>William Nunes</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>27 anos</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>Graduação</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>EAD</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Musculação</span>
          <span>Crossfit</span>
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>27/01/2020</div>
      </div>
    </section>
  </div>

{% endblock %}