{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <div class="header">
      <a class="newButton" href="/instructors/create">Novo Instrutor</a>
      <form action="/instructors" class="filter" method="GET">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Nome ou Atendimento...">
        <button type="submit">Filtrar</button>
      </form>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th>Instrutor</th>
          <th>Atendimento</th>
          <th>Alunos</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for instructor in instructors %}
          <tr>
            <td>
            <span style="background-image: url({{ instructor.avatar_url }})"></span>
            {{ instructor.name }}
            </td>
            <td>
              {% for service in instructor.services %}
                <span id="service">{{ service }}</span>
              {% endfor %}
            </td>
            <td id="students">
              <span>{{ instructor.students }}</span>
            </td>
            <td>
              <a href="instructors/{{ instructor.id }}">Visualizar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}