@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
	--color-rocket: #7159c1;
	--color-letter: #AF9EE6;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

body header {
	background: var(--color-rocket);
	text-align: center;
	padding: 30px;
}

body header a {
	font-size: 36px;
	line-height: 52px;
	margin: 30px;
	color: var(--color-letter);
	text-decoration: none;
}

body header a:hover {
	color: white;
	text-decoration: underline;
	transition: color 200ms;
}

.footer {
	padding: 20px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-rocket);
	text-align: center;
}

.footer a {
	color: var(--color-letter);
	text-decoration: none;
	padding: 0 45px;
}

.footer a:hover {
	color: white;
	transition: color 200ms;
}