{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat"></section>

    <section class="details">
      <h3>Teacher</h3>

      <div class="item">
        <p>Nome</p>
        <p>William Nunes</p>
      </div>

      <div class="item">
        <p>Idade</p>
        <p>28 anos</p>
      </div>

      <div class="item">
        <p>Grau de Escolaridade</p>
        <p>Graduação</p>
      </div>

      <div class="item">
        <p>Tipo de Aula</p>
        <p>EAD</p>
      </div>

      <div class="item">
        <p>Acompanhamento</p>
        <p>Cálculo e Física</p>
      </div>

      <div class="item">
        <p>Desde</p>
        <p>27/01/2020</p>
      </div>
    </section>
  </div>

{% endblock %}