{% extends "layout.njk" %}

{% block top %}
  <title>ERROR - LAUNCHBASE: Desafio 2.1</title>
  <link rel="stylesheet" href="/notFound.css">
{% endblock %}

{% block content %}
  <div class="error">
    <h1>Página não encontrada!</h1>
    <p>O endereço digitado não se encontra disponível ou não existe</p>
  </div>
{% endblock %}