<!DOCTYPE html>

<html>

  <head>
    {% block top %}
      <title>LAUNCHBASE: Desafio 2.1</title>
    {% endblock %}

    <link rel="stylesheet" href="/global.css">
    <link rel="icon" href="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png" type="image/x-icon"/>
  </head>

  <body>
    <header>
      {% for link in links.top_links %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </header>

    {%block content%}
      {%endblock%}

      <footer class="footer">
        {% for link in links.bottom_links %}
          <a href="{{ link.url }}" target="blank">{{ link.name }}</a>
        {% endfor %}
      </footer>
    </body>

  </html>