@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
@import "./src/color.css";

* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	background: white;
	font-family: "Roboto", sans-serif;
	color: var(--color-letter);
	margin: 0 230px;
}

/*HEADER*/
body header {
	display: flex;
	margin-top: 38px;
	margin-bottom: 30px;
}

body header img {
	margin-right: 105px;
	size: 90.6px 26.9px;
}

.links a {
	color: var(--color-letter);
	size: 16px;
	line-height: 19px;
	text-decoration: none;
	margin: 0 15px;
}

.links a:hover {
	font-weight: bold;
}

.links .current {
	font-weight: bold;
}

/*INTRO BLOCK*/
body .intro-block {
	background: var(--color-intro-bg);
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 30px;
	margin-bottom: 50px;
}

.intro-block .intro-text {
	margin: 117px 60px;
	max-width: 320px;
}

.intro-block .intro-text h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 38px;
}

.intro-block .intro-text p {
	color: black;
	font-size: 18px;
	line-height: 28px;
}

.intro-block img {
	display: block;
	margin: auto;
	margin-bottom: 0;
}

/*RECIPES*/
body .text-most-accessed {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	cursor: pointer;
}

.recipes .recipe img {
	border-radius: 15px;
	width: 100%;
}

.recipe-name {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 5px;
}

.recipe-author {
	font-size: 14px;
	line-height: 16px;
	color: var(--color-letter-subinfo);
	margin-bottom: 10px;
}

/*FOOTER*/
body footer {
	position: absolute;
	left: 0;
	right: 0;
	background: var(--color-footer-bg);
	margin-top: 40px;
	padding: 23px;
	text-align: center;
}

body footer p {
	color: var(--color-letter-rights);
	font-size: 14px;
	line-height: 16px;
}


/*AJUST WINDOW SIZE*/
@media (max-width: 1200px) {
	.recipes {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1000px) {
	.recipes {
		display: grid;
		grid-template-columns: 1fr;
	}
}